html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}

body{
  background-color: #113;
  color: #ddd;
  padding: 20px;
}

.card {
  width: 400px;
  height: 240px;
  margin: 50px auto;
  background-color: #ccc;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  font-size: 3em;
  animation: deanimate-on-hover .3s;
  animation-fill-mode: forwards;
}
